# test config to run readout-stbf out of the box with data emulator


# dummy data source
[equipment-emulator-1]
enabled=1
name=emulator-1
equipmentType=cruEmulator
memoryPoolNumberOfPages=1800
memoryPoolPageSize=1M
numberOfLinks=4
PayloadSize=8000


# define a (disabled) CRU equipment for CRU end point #0
[equipment-rorc-1]
enabled=0
equipmentType=rorc
cardId=#0
dataSource=Ddg
memoryPoolNumberOfPages=1800
memoryPoolPageSize=1M
rdhUseFirstInPageEnabled=1


# monitor counters
[consumer-stats]
consumerType=stats
monitoringEnabled=1
monitoringUpdatePeriod=5
monitoringURI={{ monitoring_readout_url }}


# record data to file (disabled)
[consumer-rec]
enabled=0
consumerType=fileRecorder
fileName=/tmp/data.raw


# allow data sampling to take data
[consumer-data-sampling]
enabled=0
consumerType=DataSampling


# send data to stfb
[consumer-StfBuilder]
enabled = 1
consumerType = FairMQChannel
sessionName = default
fmq-transport = shmem
fmq-name = readout
fmq-type = push
fmq-address = ipc:///tmp/flp-readout-pipe-0
unmanagedMemorySize = 2G
memoryPoolNumberOfPages = 200
memoryPoolPageSize = 1M
disableSending=0


# matching config for the test receiver
[receiver-fmq]
decodingMode=stfHbf
channelAddress=ipc:///tmp/flp-readout-pipe-0
channelType=pull
