[Unit]
Description=O2 Control GUI
After=network.target
After=o2-aliecs-core.service

[Service]
User={{ gui_user }}
Group={{ gui_user }}
ExecStart=/bin/sh -c "/usr/bin/node {{ o2_install_dir }}/{{ cog_name }}/node_modules/\@aliceo2/control/index.js {{ o2_conf_dir }}/{{ cog_name }}.js"
Restart=on-failure

[Install]
WantedBy=multi-user.target
