module.exports = {
  http: {
    port: {{ cog_http_port }},
    hostname: '{{ cog_hostname | default(ansible_fqdn) }}',
    tls: {{ cog_tls }},
    {% if cog_tls == 'true' %}
    portSecure: {{ cog_https_port | default('8443') }},
    key: '{{ cog_tls_key }}',
    cert: '{{ cog_tls_cert }}'
    {% endif %}
  },
  grpc: {
    hostname: '{{ cog_grpc_hostname }}',
    port: {{ cog_grpc_port }},
    timeout: {{ cog_grpc_timeout }}, // ms, gRPC deadline for service calls
  },
  grafana: {
    port: {{ grafana_port }}
  },
  consul: {
    hostname: '{{ consul_bind_address | default(ansible_fqdn) }}',
    port: {{ consul_port_ui }},
    flpHardwarePath: '{{ consul_flps_key_prefix }}'
  },
  {% if cog_oauth_enable == 'true' %}
  jwt: {
    secret: '{{ cog_jwt_secret }}',
    issuer: 'alice-o2-gui',
    expiration: '{{ cog_jwt_expiration }}',
    maxAge: '{{ cog_jwt_expiration }}'
  },
  oAuth: {
    secret: '{{ cog_oauth_secret }}',
    id: '{{ cog_oauth_id }}',
    tokenHost: 'https://oauth.web.cern.ch',
    tokenPath: '/OAuth/Token',
    authorizePath: '/OAuth/Authorize',
    redirect_uri: 'https://{{ ansible_fqdn }}/callback',
    scope: 'https://oauthresource.web.cern.ch/api/User',
    state: '3(#0/!~',
    egroup: '{{ cog_oauth_egroup }}',
    resource: {
      hostname: 'oauthresource.web.cern.ch',
      userPath: '/api/User',
      groupPath: '/api/Groups',
      port: 443
    }
  }
  {% endif %}
};
