module.exports = {
  // demoData: false,

  http: {
    hostname: '{{ qcg_http_hostname | default(ansible_fqdn) }}',
    port: {{ qcg_http_port }},
    tls: {{ qcg_tls }},
    {% if qcg_tls == 'true' %}
    portSecure: {{qcg_https_port }},
    key: '{{ qcg_tls_key }}',
    cert: '{{ qcg_tls_cert }}'
    {% endif %}
  },

  consul: {
    hostname: '{{ consul_bind_address | default(ansible_fqdn) }}',
    port: {{ consul_port_ui }}
  },
  
  quality_control: {
    version: '{{flp_quality_control_packageversion}}'
  },

  dbFile: '{{qcg_config_directory | default('/var/lib/o2-qcg')}}/db.json',

  listingConnector: '{{ qc_repo_implementation.lower() | default('ccdb') }}', // ccdb or mysql or amore (default mysql) for listing objects

  {% if qc_repo_implementation == 'CCDB' %}
  ccdb: {
    hostname: '{{ ccdb_host | default(ansible_fqdn) }}',
    port: {{ ccdb_port }}
  },
  {% elif qc_repo_implementation == 'MYSQL' %}
  mysql: {
    host: '{{ qcg_mysql_hostname | default(ansible_fqdn) }}',
    user: '{{ qcg_mysql_user }}',
    password: '{{ qcg_mysql_password }}',
    database: '{{ qcg_mysql_database | default('quality_control') }}'
  },
  {% elif qc_repo_implementation == 'AMORE' %}
  amore: {
    host: '{{ qcg_amore_hostname.lower() | default(ansible_fqdn) }}',
    user: '{{ qcg_amore_user }}',
    password: '{{ qcg_amore_password}}',
    database: '{{ qcg_amore_database | default('AMORE') }}'
  }
  {% endif %}

  // dbFile: '/var/db/qcg-db.json', // absolute path where to save layouts, default = root of this app

  {% if qcg_oauth_enable == 'true' %}
  jwt: {
    secret: '{{ qcg_jwt_secret }}',
    issuer: 'alice-o2-gui',
    expiration: '{{ qcg_jwt_expiration }}', 
    maxAge: '{{ qcg_jwt_expiration }}'
  },
  oAuth: {
    secret: '{{ qcg_oauth_secret }}',
    id: '{{ qcg_oauth_id }}',
    tokenHost: 'https://oauth.web.cern.ch',
    tokenPath: '/OAuth/Token',
    authorizePath: '/OAuth/Authorize',
    redirect_uri: 'https://{{ ansible_fqdn }}/callback',
    scope: 'https://oauthresource.web.cern.ch/api/User',
    state: '3(#0/!~',
    egroup: '{{ qcg_oauth_egroup | default('alice-member') }}',
    resource: {
      hostname: 'oauthresource.web.cern.ch',
      userPath: '/api/User',
      groupPath: '/api/Groups',
      port: 443
    }
  }
  {% endif %}
};
