[Unit]
Description=QCG
After=network.target
After=ccdb-sql.service

[Service]
User={{ gui_user }}
Group={{ gui_user }}
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                      MODULEPATH=/opt/alisw/el7/modulefiles module load qcg/v{{ qcg_version }} && \
                      /opt/alisw/el7/node/{{ qcg_nodejs_version }}/bin/node /opt/alisw/el7/qcg/v{{ qcg_version }}/node_modules/\@aliceo2/qc/index.js {{ o2_conf_dir }}/{{ qcg_name }}.js"
Restart=on-failure

[Install]
WantedBy=multi-user.target
