<%#
name: Ansible Roles - Ansible Default with env.* parameters
snippet: false
model: JobTemplate
job_category: Ansible Playbook
description_format: Run Ansible roles
provider_type: Ansible
kind: job_template
organizations:
- ALICE
locations:
- FLP Lab
%>

---
- hosts: all
  tasks:
    - name: Display all parameters known for the Foreman host
      debug:
        var: foreman_params
  roles:
<%- if @host.all_ansible_roles.present? -%>
<%=   @host.all_ansible_roles.map { |role| "    - #{role.name.strip}" }.join("\n") %>
<%- end -%>
  environment:
<% host_enc['parameters'].each do |param| -%>
  <%- if param[0].start_with?('env.') -%>
    - <%= param[0][4..-1] %>: <%= param[1] %>
  <%- end -%>
<% end -%>