[Unit]
Description=GH worker
After=network.target

[Service]
User={{ flp_dev_user }}
Group={{ flp_dev_user }}
ExecStart=/bin/sh -c "/home/{{ flp_dev_user }}/run.sh"
Restart=on-failure

[Install]
WantedBy=multi-user.target
