[Unit]
Description=CCDB agent
Requires=network-online.target
After=network-online.target

[Service]
User={{ ccdb_user }}
Group={{ ccdb_group }}
Environment="TOMCAT_PORT={{ ccdb_port }}"
Environment="TOMCAT_ADDRESS=*"
Environment="FILE_REPOSITORY_LOCATION={{ ccdb_files_location }}"
ExecStart={{ java_path.stdout }}/bin/java -jar {{ ccdb_local_dir }}/{{ ccdb_jar_name }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target