[daemon]
logFile=/var/log/infoLoggerD.log
logRotateMaxFiles=4
logRotateMaxBytes=10485760
logRotateNow=1

[infoLoggerD]
# see ConfigInfoLoggerD::readFromConfigFile() definition
# for exhaustive list of config parameters accepted

# infoLoggerServer host name
# by default, localhost
serverHost={{ infologger_server_host }}

# enable/disable output of collected messages to infoLoggerServer
outputToServer=1

# enable/disable output of collected messages to infoLoggerD logs
outputToLog=0
