[Unit]
Description=infoLoggerD, local logging agent
After=network.target

[Service]
Type=forking
TimeoutSec=5
ExecStart=/opt/o2-InfoLogger/bin/infoLoggerD -z file:{{ infologger_config_file }}
ExecStop=/usr/bin/kill -s SIGTERM $MAINPID
GuessMainPID=1
Restart=always

[Install]
WantedBy=multi-user.target
