module.exports = {
  // mandatory
  http: {
    port: {{ ilg_http_port }},
    hostname: '{{ ilg_hostname | default(ansible_fqdn) }}',
    tls: {{ ilg_tls }},
    {% if ilg_tls == 'true' %}
    portSecure: {{ ilg_https_port | default('8443') }},
    key: '{{ ilg_tls_key }}',
    cert: '{{ ilg_tls_cert }}'
    {% endif %}
  },

  mysql: {
    host: '{{ infologger_mysql_dbhost | default(ansible_fqdn)}}',
    user: '{{ infologger_mysql_userBrowser }}',
    password: '{{ infologger_mysql_pwdBrowser }}',
    database: '{{ infologger_mysql_dbname }}',
    port: {{ infologger_mysql_port }}
  },

  dbFile: '{{ ilg_config_directory | default('/var/lib/o2-ilg')}}/db.json',

  infoLoggerServer: {
    host: '{{ infologger_server_host | default(ansible_fqdn)}}',
    port: {{ infologger_server_port_tx }}
  },

  {% if ilg_oauth_enable == 'true' %}
  jwt: {
    secret: '{{ ilg_jwt_secret }}',
    issuer: 'alice-o2-gui',
    expiration: '{{ ilg_jwt_expiration }}',
    maxAge: '{{ ilg_jwt_expiration }}'
  },
  oAuth: {
    secret: '{{ ilg_oauth_secret }}',
    id: '{{ ilg_oauth_id }}',
    tokenHost: 'https://oauth.web.cern.ch',
    tokenPath: '/OAuth/Token',
    authorizePath: '/OAuth/Authorize',
    redirect_uri: 'https://{{ ansible_fqdn }}/callback',
    scope: 'https://oauthresource.web.cern.ch/api/User',
    state: '3(#0/!~',
    egroup: '{{ ilg_oauth_egroup }}',
    resource: {
      hostname: 'oauthresource.web.cern.ch',
      userPath: '/api/User',
      groupPath: '/api/Groups',
      port: 443
    }
  }
  {% endif %}
};
