[Unit]
Description=InfoLogger GUI
After=mariadb.service
After=network.target

[Service]
User={{ gui_user }}
Group={{ gui_user }}
ExecStart=/bin/sh -c "/usr/bin/node {{ o2_install_dir }}/{{ ilg_name }}/node_modules/\@aliceo2/infologger/index.js {{ o2_conf_dir }}/{{ ilg_name }}.js"
Restart=on-failure

[Install]
WantedBy=multi-user.target
