{
  "{{ consul_configs_key_prefix }}/{{ ansible_hostname }}/cards/{{ cru_sequence_id }}": {
    "cru": {
      "allowRejection": "false",
      "clock": "local",
      "cruId": "0x0",
      "datapathMode": "continuous",
      "loopback": "true",
      "gbtMode": "GBT",
      "downstreamData": "CTP",
      "ponUpstream": "false",
      "onuAddress": "0",
      "dynamicOffset": "true",
      "triggerWindowSize": "1000",
      "gbtEnabled": "true",
      "userLogicEnabled": "false"
    },
    "links": {
      "enabled": "false",
      "gbtMux": "ttc"
    },
    "link0": {
      "enabled": "true",
      "gbtMux": "ddg"
    },
    "link1": {
      "enabled": "false",
      "gbtMux": "swt"
    },
    "link4": {
      "enabled": "false",
      "gbtMux": "ddg"
    }
  }
}
