[Unit]
Description="Configuration of RoC (Only CRU currently)"
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart={{ flp_readoutcard_confdir }}/roc_config_startup.sh

[Install]
WantedBy=default.target
