{
  "qc": {
    "config": {
      "database": {
        "implementation": "{{ qc_repo_implementation }}",
        "host": "{{ ccdb_host }}:{{ ccdb_port }}",
        "username": "not_applicable",
        "password": "not_applicable",
        "name": "not_applicable"
      },
      "Activity": {
        "number": "42",
        "type": "2"
      },
      "monitoring": {
        "url": "{{ monitoring_qc_url }}"
      },
      "consul": {
        "url": "{{ consul_bind_address }}:{{ consul_port_ui }}"
      },
      "conditionDB": {
        "url": "{{ ccdb_host }}:{{ ccdb_port }}"
      }
    },
    "tasks": {
      "QcTask": {
        "active": "true",
        "className": "o2::quality_control_modules::skeleton::SkeletonTask",
        "moduleName": "QcSkeleton",
        "detectorName": "TST",
        "cycleDurationSeconds": "10",
        "maxNumberCycles": "-1",
        "dataSource_comment": "The other type of dataSource is \"direct\", see basic-no-sampling.json.",
        "dataSource": {
          "type": "dataSamplingPolicy",
          "name": "tst-raw"
        },
        "taskParameters": {
          "myOwnKey": "myOwnValue"
        },
        "location": "remote"
      }
    },
    "checks": {
      "QcCheck": {
        "active": "true",
        "className": "o2::quality_control_modules::skeleton::SkeletonCheck",
        "moduleName": "QcSkeleton",
        "policy": "OnAny",
        "dataSource": [{
          "type": "Task",
          "name": "QcTask",
          "MOs": ["example"]
        }]
      }
    }
  },
  "dataSamplingPolicies": [
    {
      "id": "tst-raw",
      "active": "true",
      "machines": [],
      "query": "random:TST/RAWDATA/0",
      "samplingConditions": [
        {
          "condition": "random",
          "fraction": "0.1",
          "seed": "1234"
        }
      ],
      "blocking": "false"
    }
  ]
}
