{
  "qc": {
    "config": {
      "database": {
        "implementation": "{{ qc_repo_implementation }}",
        "host": "{{ ccdb_host }}:{{ ccdb_port }}",
        "username": "not_applicable",
        "password": "not_applicable",
        "name": "not_applicable"
      },
      "Activity": {
        "number": "42",
        "type": "2"
      },
      "monitoring": {
        "url": "{{ monitoring_qc_url }}"
      },
      "consul": {
        "url": "{{ consul_bind_address }}:{{ consul_port_ui }}"
      },
      "conditionDB": {
        "url": "{{ ccdb_host }}:{{ ccdb_port }}"
      }
    },
    "tasks": {
      "daqTask": {
        "active": "true",
        "className": "o2::quality_control_modules::daq::DaqTask",
        "moduleName": "QcDaq",
        "detectorName": "DAQ",
        "cycleDurationSeconds": "10",
        "maxNumberCycles": "-1",
        "dataSource": {
          "type": "dataSamplingPolicy",
          "name": "readout"
        },
        "location": "remote"
      }
    },
    "checks": {
      "nonEmptyPlSize": {
        "active": "true",
        "className": "o2::quality_control_modules::common::NonEmpty",
        "moduleName": "QcCommon",
        "policy": "OnAny",
        "dataSource": [{
          "type": "Task",
          "name": "daqTask",
          "MOs": ["payloadSize"]
        }]
      },
      "nonEmptyIDs": {
        "active": "true",
        "className": "o2::quality_control_modules::skeleton::SkeletonCheck",
        "moduleName": "QcSkeleton",
        "policy": "OnAny",
        "dataSource": [{
          "type": "Task",
          "name": "daqTask",
          "MOs": ["IDs"]
        }]
      },
      "CheckIncreasingIDs": {
        "active": "true",
        "className": "o2::quality_control_modules::daq::EverIncreasingGraph",
        "moduleName": "QcDaq",
        "policy": "OnAny",
        "dataSource": [{
          "type": "Task",
          "name": "daqTask",
          "MOs": ["IDs"]
        }]
      }
    }
  },
  "dataSamplingPolicies": [
    {
      "id": "readout",
      "active": "true",
      "machines": [],
      "query" : "readout:ROUT/RAWDATA",
      "samplingConditions": [
        {
          "condition": "random",
          "fraction": "0.1",
          "seed": "1441"
        }
      ],
      "blocking": "false"
    }
  ]
}
