[Unit]
Description=O² AliECS core
After=network.target
After=consul.service

[Service]
User={{ control_core_user }}
Group={{ control_core_group }}
{% if 'http_proxy' in ansible_env %}
Environment=http_proxy={{ ansible_env.http_proxy }} https_proxy={{ ansible_env.https_proxy }} no_proxy=127.0.0.1,{{ control_mesos_hostname }}
{%endif%}
PermissionsStartOnly=true
ExecStartPre=/bin/bash -c "until consul kv get {{ control_core_consulpath }}/settings; do sleep 1; done"
ExecStart=/bin/bash -a -c "eval `aliswmod load {{ control_core_module }}` && \
                {{ o2_install_path }}/{{ control_core_module }}/bin/{{ control_core_executable }} --coreConfigurationUri consul://{{ consul_head_node }}:{{ consul_port_ui }}/{{ control_core_consulpath }}/settings"
ExecStop=-/usr/bin/killall -9 o2control-executor
Restart=no

StandardOutput=null
StandardError=null
SyslogIndentifier={{ control_core_svcname }}

[Install]
WantedBy=multi-user.target
