---
controlport: 47102
executor: /opt/alisw/el7/Control-Core/v{{ control_packageversion }}/bin/o2control-executor
mesosurl: "http://{{ control_mesos_hostname }}:{{ control_mesos_master_port }}/api/v1/scheduler"
globalConfigurationUri: consul://{{ consul_head_node }}:{{ consul_port_ui }}
verbose: true
veryverbose: true
