general:
   log4jfilename: {{ kafka_conf_dir }}/log4j.properties

kafka_consumer_config:
   bootstrap.servers: {{ kafka_hostname}}:{{ kafka_port }}
   topic: {{ kafka_mattermost_topic }}

mattermost_config:
   url: https://mattermost.web.cern.ch/hooks/{{ kafka_mattermost_hook }}

stats:
   hostname: {{ kafka_stats_type }}
   port: {{ kafka_influxdb_port }}
   period.s: {{ kafka_stats_period_s }}
