general:
   log4jfilename: {{ kafka_conf_dir }}/log4j.properties

kafka_consumer_config:
   bootstrap.servers: {{ kafka_hostname}}:{{ kafka_port }}
   topic: {{ kafka_email_topic }}

email_config:
   hostname: {{ kafka_email_smtp_hostname }}
   port: {{ kafka_email_smtp_port }}
   from: {{ kafka_email_address }}
   username: {{ kafka_email_username }}
   password: {{ kafka_email_password }}

stats:
   hostname: {{ kafka_stats_type }}
   port: {{ kafka_influxdb_port }}
   period.s: {{ kafka_stats_period_s }}
