[Unit]
Description=InfluxDB 2.0
After=network.target

[Service]
User={{ influxdbv2_user }}
Group={{ influxdbv2_user }}
ExecStart={{ influxdbv2_installation_path }}/influxd --reporting-disabled
Restart=on-failure

[Install]
WantedBy=multi-user.target
