apiVersion: 1

datasources:
 - name: {{ item.database }}
   type: influxdb
   access: proxy
   orgId: 1
   url: {{ influxdb_protocol }}://{{ influxdb_host }}:{{ influxdb_http_port }}
   database: {{ item.database }}
   basicAuth: true
   basicAuthUser: {{ influxdb_user }}
   basicAuthPassword: {{ influxdb_pass }}
   jsonData:
      tlsAuth: false
      tlsAuthWithCACert: false
      tlsSkipVerify: true

