[Unit]
Description=O2 Monitoring
After=network.target

[Service]
User=test
Group=test
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
		MODULEPATH=/opt/alisw/el7/modulefiles module load Monitoring/{{ monitoring_test_version }} && \
		/opt/alisw/el7/Monitoring/{{ monitoring_test_version }}/bin/5-Benchmark --url={{ monitoring_test_url }} {{ monitoring_test_options }}"
Restart=no
