[Unit]
Description=Kafka REST Proxy
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart={{ kafka_install_dir }}/confluent-{{ kafka_rest_version }}/bin/kafka-rest-start {{ kafka_conf_dir }}/kafka-rest.properties
ExecStop={{ kafka_install_dir }}/confluent-{{ kafka_rest_version }}/bin/kafka-rest-stop
PIDFile=/var/run/kafka-rest.pid

[Install]
WantedBy=multi-user.target
