#!/bin/bash
declare -A MAPPING
MAPPING[Disabled]=0
MAPPING[Enabled]=1
MAPPING[UP]=1
MAPPING[UP (was DOWN)]=1
MAPPING[DOWN]=0

source /etc/profile.d/modules.sh && MODULEPATH=/opt/alisw/el7/modulefiles module load ReadoutCard/{{ telegraf_readoutcard_version }} 2>/dev/null

mapfile -t METRICS < <( sudo LD_LIBRARY_PATH=$LD_LIBRARY_PATH /opt/alisw/el7/ReadoutCard/v0.19.3-5/bin/roc-metrics --csv-out  | egrep '^[0-9]' )
for k in "${METRICS[@]}"; do
  metricsArray=(${k//,/ })
  echo "cru,id=${metricsArray[0]} temperature=${metricsArray[3]},dropped=${metricsArray[4]},clock=${metricsArray[6]},packet_rate=${metricsArray[7]}"
done

CRU_NO={{ basevars_cru_pciaddrs.stdout_lines|length }}

for ((i = 0 ; i < CRU_NO ; i++ )); do
  mapfile -t STATUS < <( sudo LD_LIBRARY_PATH=$LD_LIBRARY_PATH /opt/alisw/el7/ReadoutCard/{{ telegraf_readoutcard_version }}/bin/roc-status --id=#$i --csv-out  | egrep '^[0-9]' )
  for j in "${STATUS[@]}"; do
    statusArray=(${j//,/ })
    echo "cruLinks,cruId=${i},linkId=${statusArray[0]} dataPath=${MAPPING[${statusArray[5]}]},status=${MAPPING[${statusArray[8]}]},power=${statusArray[9]}"
  done
done
