[Unit]
Description=Kafka stream-processing software
Wants=zookeeper.service
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
EnvironmentFile=-{{ kafka_conf_dir }}/environment
ExecStart={{ kafka_install_dir }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}/bin/kafka-server-start.sh {{ kafka_conf_dir }}/kafka.properties
ExecStartPost=/usr/bin/java -jar {{ kafka_install_dir }}/jolokia-jvm-{{ kafka_jolokia_version }}-agent.jar start $MAINPID
ExecStop={{ kafka_install_dir }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}/bin/kafka-server-stop.sh
SyslogIdentifier=kafka

[Install]
WantedBy=multi-user.target
