[Unit]
Description=DNS service for the DIM Nameserver
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                MODULEPATH={{ o2_install_path }}/modulefiles module load {{ dim_module }} && dns"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
