[Unit]
Description=WebDID service for the DIM Nameserver
After=o2-dim-dns.service
Requires=o2-dim-dns.service

[Service]
WorkingDirectory={{ dim_target_dir }}/WebDID
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                MODULEPATH={{ o2_install_path }}/modulefiles module load {{ dim_module }} && webDid"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
