[daemon]
logFile=/var/log/infoLoggerServer.log
logRotateMaxFiles=4
logRotateMaxBytes=10485760
logRotateNow=1

[infoLoggerServer]
dbUser={{ infologger_mysql_userServer }}
dbPassword={{ infologger_mysql_pwdServer }}
dbHost={{ infologger_mysql_dbhost_server }}
dbName={{ infologger_mysql_dbname }}

[admin]
dbUser={{infologger_mysql_userAdmin }}
dbPassword={{ infologger_mysql_pwdAdmin }}
dbHost={{ infologger_mysql_dbhost }}
dbName={{ infologger_mysql_dbname }}

[infoBrowser]
dbUser={{ infologger_mysql_userBrowser }}
dbPassword={{ infologger_mysql_pwdBrowser }}
dbHost={{ infologger_mysql_dbhost }}
dbName={{ infologger_mysql_dbname }}
serverHost={{ infologger_server_host }}
