[Unit]
Description=Kafka topic router
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart=/bin/sh -c "/usr/bin/java -cp {{ kafka_install_dir }}/kafka-streams-o2-{{ kafka_consumer_version }}-jar-with-dependencies.jar ch.cern.alice.o2.kafka.streams.Router --config {{ kafka_conf_dir }}/kafka-router.yaml"
SyslogIdentifier=kafka-router

[Install]
WantedBy=multi-user.target
