kafka:
   bootstrap.servers: "{{ kafka_hostname}}:{{ kafka_port }}"

router:
   topic.input: {{ kafka_processing_router_topic }}
   topic.output.database: {{ kafka_influxdb_topic }}
   topic.output.onoff: {{ kafka_processing_onoff_topic }}
   topic.output.aggregator.avg: {{ kafka_processing_avg_topic }}
   topic.output.aggregator.sum: {{ kafka_processing_sum_topic }}
   topic.output.aggregator.min: {{ kafka_processing_min_topic }}
   topic.output.aggregator.max: {{ kafka_processing_max_topic }}

databaseFilter:
  - measurement: intMetric1
  - measurement: doubleMetric1
  - measurement: measurement

onoffFilter:
  - measurement: onOffMetric1

aggregatorSumFilter:
  - measurement: doubleMetric1
    tags.remove: FLP
  - measurement: intMetric1
    tags.remove: FLP

aggregatorAvgFilter:
  - measurement: doubleMetric1
    tags.remove: FLP

aggregatorMinFilter:
  - measurement: doubleMetric1
    tags.remove: FLP

aggregatorMaxFilter:
  - measurement: doubleMetric1
    tags.remove: FLP

stats:
   hostname: {{ kafka_stats_type }}
   port: {{ kafka_influxdb_port }}
   period.s: {{ kafka_stats_period_s }}
