[Unit]
Description=Kafka OnOff processor
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart=/bin/sh -c "/usr/bin/java -cp {{ kafka_install_dir  }}/kafka-streams-o2-{{ kafka_consumer_version }}-jar-with-dependencies.jar ch.cern.alice.o2.kafka.streams.OnOff --kafka-props bootstrap.servers={{ kafka_hostname}}:{{ kafka_port }} --onoff-props topic.input={{ kafka_processing_onoff_topic }} topic.output={{ kafka_influxdb_topic }} refresh.period.s=1"
SyslogIdentifier=kafka-onoff

[Install]
WantedBy=multi-user.target
