[Unit]
Description=Kafka Aggregator
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart=/bin/sh -c "/usr/bin/java -cp {{ kafka_install_dir }}/kafka-streams-o2-{{ kafka_consumer_version }}-jar-with-dependencies.jar ch.cern.alice.o2.kafka.streams.Aggregator --kafka-props bootstrap.servers={{ kafka_hostname}}:{{ kafka_port }} state.dir={{ kafka_processing_state_dir }} --aggregator-props window.s=1 topic.input.avg={{ kafka_processing_avg_topic }} topic.input.sum={{ kafka_processing_sum_topic }} topic.input.min={{ kafka_processing_min_topic }} topic.input.max={{ kafka_processing_max_topic }} topic.output={{ kafka_influxdb_topic }}"
SyslogIdentifier=kafka-aggregator

[Install]
WantedBy=multi-user.target
