[Unit]
Description=CCDB sql agent
Requires=network-online.target
After=network-online.target

[Service]
User=postgres
Group=postgres
WorkingDirectory=/var/lib/pgsql
Environment="TOMCAT_PORT={{ ccdb_port }}"
ExecStart={{ java_path.stdout }}/bin/java -Djava.security.egd=file:/dev/./urandom -jar {{ ccdb_sql_local_dir }}/{{ ccdb_sql_jar_name }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target