[Unit]
Description=Consul agent
Requires=network-online.target
After=network-online.target

[Service]
User={{ consul_user }}
Group={{ consul_group }}
Environment=CONSUL_UI_BETA=true
ExecStart={{ consul_bin_dir }}/consul agent \
    -server \
    -bootstrap-expect 1 \
    -bind '127.0.0.1' \
    -client '{{ "{{" }} GetAllInterfaces | include "flags" "forwardable|up" | exclude "type" "IPv6" | join "address" " " {{ "}}" }}' \
    -data-dir "{{ consul_data_dir }}" \
    -ui \
    -datacenter {{ consul_datacenter }}

ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
