[Unit]
Description=CCDB In-memory agent
Requires=network-online.target
After=network-online.target

[Service]
User={{ ccdb_user }}
Group={{ ccdb_group }}
Environment="TOMCAT_PORT={{ ccdb_port }}"
Environment="TOMCAT_ADDRESS=127.0.0.1"
Environment="UDP_RECEIVER_RECOVERY_URL={{ ccdb_repository_url }}"
Environment="UDP_RECEIVER.MULTICAST_ADDRESS={{ ccdb_multicast_address }}"
WorkingDirectory={{ ccdb_local_dir }}
ExecStart={{ java_path.stdout }}/bin/java -jar {{ ccdb_local_dir }}/{{ ccdb_jar_name }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
