[Unit]
Description=Kafka InfluxDB consumer
Wants=kafka.service
After=network.target network-online.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_user }}
ExecStart=/bin/sh -c "/usr/bin/java -cp {{ kafka_install_dir }}/kafka-streams-o2-{{ kafka_consumer_version }}-jar-with-dependencies.jar ch.cern.alice.o2.kafka.connectors.InfluxdbUdpConsumer --kafka-props bootstrap.servers={{ kafka_hostname}}:{{ kafka_port }} topic.input={{ kafka_influxdb_topic }} --influxdb-props hostname={{ influxdb_host }} ports={{ kafka_influxdb_port }}"
SyslogIdentifier=kafka-influxdb

[Install]
WantedBy=multi-user.target
