[Unit]
Description=ALF
After=roc_config.service
After=o2-dim-dns.service

[Service]
User={{ flp_username }}
ExecStart=/bin/sh -c "source /etc/profile.d/modules.sh && \
                MODULEPATH={{ o2_install_path }}/modulefiles module load {{ flp_alf_module }} && \
                {{ o2_install_path }}/{{ flp_alf_module }}/bin/{{ flp_alf_binary }} --dim-dns-node {{ dim_dns_node }}"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
