# Once every 24 hours InfluxDB will report usage data to usage.influxdata.com
# The data includes a random ID, os, arch, version, the number of series and other
# usage data. No data from user databases is ever transmitted.
# Change this option to true to disable reporting.
reporting-disabled = true

[meta]
  # Where the metadata/raft database is stored
  dir = "{{ influxdb_prefix }}/influxdb/meta"

  # If log messages are printed for the meta service
  logging-enabled = true

[data]
  # The directory where the TSM storage engine stores TSM files.
  dir = "{{ influxdb_prefix }}/influxdb/data"

  # The directory where the TSM storage engine stores WAL files.
  wal-dir = "{{ influxdb_prefix }}/influxdb/wal"

  # The size of the internal cache used in the TSI index to store previously
  # calculated series results. Cached results will be returned quickly from the cache rather
  # than needing to be recalculated when a subsequent query with a matching tag key/value
  # predicate is executed. Setting this value to 0 will disable the cache, which may
  # lead to query performance issues.
  # This value should only be increased if it is known that the set of regularly used
  # tag key/value predicates across all measurements for a database is larger than 100. An
  # increase in cache size may lead to an increase in heap usage.
  series-id-set-cache-size = 100

  # Whether queries should be logged before execution. Very useful for troubleshooting, but will
  # log any sensitive data contained within a query.
  query-log-enabled = true

[monitor]
  # Whether to record statistics internally.
  # store-enabled = true

  # The destination database for recorded statistics
  # store-database = "_internal"

  # The interval at which to record statistics
  # store-interval = "10s"

[http]
  # Determines whether HTTP endpoint is enabled.
  enabled = true

  # Determines whether the Flux query endpoint is enabled.
  # flux-enabled = false

  # Determines whether the Flux query logging is enabled.
  # flux-log-enabled = false

  # The bind address used by the HTTP service.
  bind-address = ":{{ influxdb_http_port }}"

  # Determines whether user authentication is enabled over HTTP/HTTPS.
  auth-enabled = {{ influxdb_auth_enabled }}

  # The default realm sent back when issuing a basic auth challenge.
  # realm = "InfluxDB"

  # Determines whether HTTP request logging is enabled.
  log-enabled = false

  # Determines whether HTTPS is enabled.
  https-enabled = {{ influxdb_https_enabled }}

  # The SSL certificate to use when HTTPS is enabled.
  https-certificate = "{{ influxdb_https_certificate | default('') }}"

  # Use a separate private key location.
  https-private-key = "{{ influxdb_https_private_key | default('') }}"

{% for udp in influxdb_udp_config %}
## {{ udp.comment }}
[[udp]]
  enabled = true
  bind-address = ":{{ udp.bind_address }}"
  database = "{{ udp.database }}"
  batch-size = 5000
  batch-timeout = "1s"
  batch-pending = 100
  read-buffer = 8388608

{% endfor %}
