TYPE=InfiniBand
BOOTPROTO=none
DEVICE=ib0
NAME=ib0
ONBOOT=yes
IPV6INIT=no
{% set index = inventory_hostname | replace('alio2-cr1-flp', '') | int %}
IPADDR=10.162.2.{{index}}
PREFIX=21
CONNECTED_MODE=no
MTU=4092
