TYPE=InfiniBand
BOOTPROTO=none
DEVICE=ib1
NAME=ib1
ONBOOT=yes
IPV6INIT=no
{% set index = inventory_hostname | replace('epn-vs', '') | int %}
IPADDR=10.162.3.{{ index }} 
PREFIX=21
CONNECTED_MODE=no
MTU=4092
